.view {
    background: url("../images/treesFront.jpeg")no-repeat center center;
    background-size: cover;
}

.navbar {
    background-color: black;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #4285F4;
    }
}

html,
body,
header,
.view {
  height: 100%;
}

.headerTopPadding {
    padding-top: 15px;
}

.genPadding {
    padding-top: 1rem;
}

.jarallax-img {
    width: 100vw;
}

.sideText {
    font-size: 24px;
}

.bottomPadding {
    padding-top: 3rem;
    padding-left: 75px
}

.bottomRow {
    height: 21rem;
}

main {
    background-image: url(../images/white-waves.png);
    
}

.Budilding {
    height: 295px;
    width: 453px;
}
